basePath: /
definitions:
  api.ErrorResponse:
    properties:
      error:
        type: string
      fields:
        additionalProperties:
          type: string
        type: object
    type: object
  api.ScriptAddressRequest:
    properties:
      network:
        enum:
        - mainnet
        - testnet
        type: string
      script:
        additionalProperties: {}
        type: object
    required:
    - network
    - script
    type: object
  api.ScriptAddressResponse:
    properties:
      address:
        type: string
      network:
        type: string
      scriptHash:
        type: string
    type: object
  api.ScriptCreateRequest:
    properties:
      key_hashes:
        items:
          type: string
        minItems: 1
        type: array
      network:
        enum:
        - mainnet
        - testnet
        type: string
      required:
        minimum: 1
        type: integer
      timelock_after:
        format: int64
        type: integer
      timelock_before:
        format: int64
        type: integer
      type:
        enum:
        - nOf
        - all
        - any
        type: string
    required:
    - key_hashes
    - network
    - type
    type: object
  api.ScriptResponse:
    properties:
      address:
        type: string
      script:
        additionalProperties: {}
        type: object
      scriptHash:
        type: string
      type:
        type: string
    type: object
  api.ScriptValidateRequest:
    properties:
      require_signatures:
        type: boolean
      script:
        additionalProperties: {}
        type: object
      signatures:
        items:
          type: string
        type: array
      slot:
        format: int64
        type: integer
    required:
    - script
    type: object
  api.ScriptValidateResponse:
    properties:
      scriptHash:
        type: string
      signatures:
        type: integer
      slot:
        format: int64
        type: integer
      valid:
        type: boolean
    type: object
  api.WalletDeleteRequest:
    properties:
      name:
        maxLength: 100
        minLength: 1
        type: string
      password:
        type: string
    required:
    - name
    type: object
  api.WalletGetRequest:
    properties:
      name:
        maxLength: 100
        minLength: 1
        type: string
      password:
        type: string
    required:
    - name
    type: object
  api.WalletRestoreRequest:
    properties:
      account_id:
        maximum: 2147483647
        type: integer
      address_id:
        maximum: 2147483647
        type: integer
      committee_cold_id:
        maximum: 2147483647
        type: integer
      committee_hot_id:
        maximum: 2147483647
        type: integer
      drep_id:
        maximum: 2147483647
        type: integer
      mnemonic:
        minLength: 1
        type: string
      password:
        type: string
      payment_id:
        maximum: 2147483647
        type: integer
      pool_cold_id:
        maximum: 2147483647
        type: integer
      stake_id:
        maximum: 2147483647
        type: integer
    required:
    - mnemonic
    type: object
  api.WalletUpdateRequest:
    properties:
      description:
        maxLength: 500
        type: string
      name:
        maxLength: 100
        minLength: 1
        type: string
      password:
        type: string
    required:
    - name
    type: object
  bursa.KeyFile:
    properties:
      cborHex:
        type: string
      description:
        type: string
      type:
        type: string
    type: object
  bursa.Wallet:
    properties:
      committee_cold_extended_skey:
        $ref: '#/definitions/bursa.KeyFile'
      committee_cold_skey:
        $ref: '#/definitions/bursa.KeyFile'
      committee_cold_vkey:
        $ref: '#/definitions/bursa.KeyFile'
      committee_hot_extended_skey:
        $ref: '#/definitions/bursa.KeyFile'
      committee_hot_skey:
        $ref: '#/definitions/bursa.KeyFile'
      committee_hot_vkey:
        $ref: '#/definitions/bursa.KeyFile'
      drep_extended_skey:
        $ref: '#/definitions/bursa.KeyFile'
      drep_skey:
        $ref: '#/definitions/bursa.KeyFile'
      drep_vkey:
        $ref: '#/definitions/bursa.KeyFile'
      mnemonic:
        example: abandon abandon abandon abandon abandon abandon abandon abandon abandon
          abandon abandon about
        type: string
      payment_address:
        example: addr1qxqs59lphg8g6qndelq8xwqn60ag3aeyfcp33c2kdp46a429mg32v29q3cg4sdj5c9ts5vxknc0yutnj8x8r8qy2l2q9sgds2
        type: string
      payment_extended_skey:
        $ref: '#/definitions/bursa.KeyFile'
      payment_skey:
        $ref: '#/definitions/bursa.KeyFile'
      payment_vkey:
        $ref: '#/definitions/bursa.KeyFile'
      pool_cold_extended_skey:
        $ref: '#/definitions/bursa.KeyFile'
      pool_cold_skey:
        $ref: '#/definitions/bursa.KeyFile'
      pool_cold_vkey:
        $ref: '#/definitions/bursa.KeyFile'
      stake_address:
        example: stake1uy9ggsc9qls4pu9qvyyacwnmr9tt0gzcdt5s0zj4au8qkqc65ge8t
        type: string
      stake_extended_skey:
        $ref: '#/definitions/bursa.KeyFile'
      stake_skey:
        $ref: '#/definitions/bursa.KeyFile'
      stake_vkey:
        $ref: '#/definitions/bursa.KeyFile'
    type: object
info:
  contact:
    email: support@blinklabs.io
    name: Blink Labs
    url: https://blinklabs.io
  description: Programmable Cardano Wallet API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: bursa
  version: v0
paths:
  /api/script/address:
    post:
      consumes:
      - application/json
      description: Generate an address for a script on the specified network
      parameters:
      - description: Script Address Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.ScriptAddressRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Script address generated
          schema:
            $ref: '#/definitions/api.ScriptAddressResponse'
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: Generate script address
  /api/script/create:
    post:
      consumes:
      - application/json
      description: Create a new multi-signature script with the specified parameters
      parameters:
      - description: Script Create Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.ScriptCreateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Script successfully created
          schema:
            $ref: '#/definitions/api.ScriptResponse'
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: Create a multi-signature script
  /api/script/validate:
    post:
      consumes:
      - application/json
      description: Validate a script's structure and requirements
      parameters:
      - description: Script Validate Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.ScriptValidateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Script validation result
          schema:
            $ref: '#/definitions/api.ScriptValidateResponse'
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: Validate a script
  /api/wallet/create:
    get:
      description: Create a wallet and return details
      produces:
      - application/json
      responses:
        "200":
          description: Ok
          schema:
            $ref: '#/definitions/bursa.Wallet'
      summary: Create a wallet
  /api/wallet/delete:
    post:
      consumes:
      - application/json
      description: Deletes a wallet from persistent storage and optional password.
      parameters:
      - description: Wallet Delete Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.WalletDeleteRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Wallet successfully deleted
          schema:
            type: string
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: Delete wallet from persistent storage
  /api/wallet/get:
    post:
      consumes:
      - application/json
      description: Gets a wallet from persistent storage and optional password and
        returns wallet details.
      parameters:
      - description: Wallet Restore Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.WalletGetRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Wallet successfully loaded
          schema:
            $ref: '#/definitions/bursa.Wallet'
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: Get wallet from persistent storage
  /api/wallet/list:
    get:
      description: List all wallets stored in secret storage matching our prefix
      produces:
      - application/json
      responses:
        "200":
          description: Ok
          schema:
            items:
              type: string
            type: array
      summary: Lists wallets
  /api/wallet/restore:
    post:
      consumes:
      - application/json
      description: Restores a wallet using the provided mnemonic seed phrase and optional
        password and returns wallet details.
      parameters:
      - description: Wallet Restore Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.WalletRestoreRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Wallet successfully restored
          schema:
            $ref: '#/definitions/bursa.Wallet'
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: Restore a wallet using a mnemonic seed phrase
  /api/wallet/update:
    post:
      consumes:
      - application/json
      description: Updates a wallet from persistent storage and optional password
        and returns wallet details.
      parameters:
      - description: Wallet Update Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/api.WalletUpdateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Wallet successfully updated
          schema:
            type: string
        "400":
          description: Invalid request
          schema:
            type: string
        "500":
          description: Internal server error
          schema:
            type: string
      summary: Update a wallet in persistent storage
schemes:
- http
swagger: "2.0"
